.landing-page{
          background-image: url("https://images-porsche.imgix.net/-/media/190A62D2AECA4444995A9FF27AC5FC92_B8FA4B21E81645728DF8B841AAB6883B_00---911-Carrera-S---fallback---Desktop?iar=0&w=1299&ar=4%3A3&q=85&auto=format");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
         }